<html>
    <head>
        <meta charset="UTF-8">
        <title>
           BVPlacementKit
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="images\favicon.ico" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/resumeResources.css">
    </head>
    <body>
      
       <section>
        <div class="swiper-mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonialBox">
                  <h1>How to write resume?</h1>
                    <div class="content">
                      <img src="../images/theurban.jpg"/>
                      <h2>The Urban Flight</h2>
                      <a href="https://youtu.be/y8YH0Qbu5h4"><button type="button" class="btn btn-primary">Click Here!</button></a>
                  </div>
                </div>
                
              </div>
              <div class="swiper-slide">
                <div class="testimonialBox">
                  <h1>Resume Writing</h1>
                    <div class="content">
                      <img src="../images/arshad.jpg"/>
                     <h2>Ashhad Ahmad</h2>
                     <a href="https://youtu.be/KJXNO7OkDbM"><button type="button" class="btn btn-primary">Click Here!</button></a>

                  </div>
                </div>
                
              </div>
              <div class="swiper-slide">
                <div class="testimonialBox">
                  <h1>Templates</h1>
                    <div class="content">
                      <img src="../images/anuj.jpg"/>
                     <h2>Anuj Bhaiya</h2>
                     <a href="https://youtu.be/YeEO0DtENUo"><button type="button" class="btn btn-primary">Click Here!</button></a>

                  </div>
                </div>  
       </section>  

       <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
       <script>
        var swiper = new Swiper(".swiper-mySwiper", {
          effect: "coverflow",
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: "auto",
          coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 100,
            modifier: 2,
            slideShadows: true,
          },    
        });
      </script>
    </body>
</html>