*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(245, 237, 228);
    
}
.container{
    padding:30px 50px;
}
.heading{
    padding:60px 0;
}
.heading h1{
    font-size:60px;
    text-align:center;
    text-decoration: underline;
}
/*custom button*/

.btn{
    padding:10px 18px;
    text-align:center;
    font-size:18px;
    box-shadow:5px 5px 5px #36373794;
    border:1px solid;
    background:rgb(231, 224, 151);
};

.btn_success{
    background:rgb(231, 224, 151);
    color:rgb(218, 233, 233);
}
.btn_success:hover{
    background:rgb(228, 231, 228);
    border:1px solid;
}

.btn_danger{
    background: rgb(238, 89, 114);
    color:#fff;
}
.btn_danger:hover{
    color:rgb(228, 56, 56);
    border:1px solid;
    background: transparent;
}
/*Company*/
.companyD{
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-gap:20px;
    
}
.companyD .companyD_details{
    padding: 10px;
    height:300px;
    width:90%;
    margin:auto;
    box-shadow: 0px 2px 20px 3px #03000a94;
    display: flex;
    flex-direction: column;
    justify-content: space around;
    position:relative;
    background-color: rgb(200, 248, 248);
}
.companyD .companyD_details h1{
    color:rgb(80, 21, 218);
    font-size:32px;
    text-transform:capitalize;

}
.companyD .companyD_details p{
   font-size: 16px;
   overflow:auto;
   height:50px; 
}
.companyD .companyD_details h5{
    font-weight: bolder;
    color:indigo;
    font-size:14px;
}
/*form*/
.form{
    display:grid;
    grid-template-columns: 30% 70%;
    height:600px;
    
}
.form_container form{
    box-shadow:0px 5px 5px 7px #a9d7f094 ;
    padding:10px 20px;
    background-color: antiquewhite;
    align-self: center;
}
.form_container form input,.form_container form textarea{
    width: 100%;
    padding:10px 10px;
    margin:10px
}

.form_container form button{
    margin:20px;
    background:rgb(8,77,141);
    color:#fff;
    border:1px solid rgb(8,77,141);
    outline:none; 
}
.form_container form button:hover{
    color:rgb(8,77,141);
    background:#fff;
    border:1px solid rgb(8,77,141);
} 
label{
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}