<!DOCTYPE html>
<html>
    <head>

    </head>
    <title>
        BVPlacementKit
    </title>
     <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet"  href="../css/dcn.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

        
    <u><h1>DCN TOP 50 INTERVIEW QUESTIONS </h1></u>
    
    <div class="container"  id="div1">
         <h1>INTODUCTION </h1><img src= "../images/photo10.png">
       
          
            <fieldset  class="field1">
                <legend>Network</legend>

            
                Network is usually an informally interconnected group or association of different entities like a person, computers, radio stations, etc.
            </fieldset>
            <fieldset>
                <legend> Network Types</legend>
                Network types can be classified and divided based on the area of distribution of the network. 
            <img src="../images/PHOTO9.png">
            
            
            
            
            </fieldset>
            <fieldset>
                <legend>LAN</legend>
                LAN (Local Area Network) are widely used to connect computers/laptops and consumer electronics which enables them to share resources (e.g., printers, fax machines) and exchange information. When LANs are used by companies or organizations, they are called enterprise networks. There are two different types of LAN networks i.e. wireless LAN (no wires involved achieved using Wi-Fi) and wired LAN (achieved using LAN cable). 
                <img src="../images/PHOTO11.png">
        </fieldset>
        
            
        <fieldset  class="field1">
            <legend>VPN</legend>

        
           VPN or the Virtual Private Network is a private WAN (Wide Area Network) built on the internet. It allows the creation of a secured tunnel (protected network) between different networks using the internet (public network).        </fieldset>
        <fieldset>
            <legend> Advantages Of  VPN</legend>
           <ul>
            <li>VPN is used to connect offices in different geographical locations remotely and is cheaper when compared to WAN connections.
            </li>
            <li>VPN is used for secure transactions and confidential data transfer between multiple offices located in different geographical locations.</li>
            <li>VPN keeps an organization’s information secured against any potential threats or intrusions by using virtualization.</li>
            <li>VPN encrypts the internet traffic and disguises the online identity.</li>
           </ul>





        </fieldset>
        <fieldset>
            <legend>Types Of VPN </legend>
           
            Access VPN:Access VPN is used to provide connectivity to remote mobile users and telecommuters. It serves as an alternative to dial-up connections or ISDN (Integrated Services Digital Network) connections. <BR>
                Site-to-Site VPN: A Site-to-Site or Router-to-Router VPN is commonly used in large companies having branches in different locations to connect the network of one office to another in different locations.<BR>
              Intranet VPN: Intranet VPN is useful for connecting remote offices in different geographical locations using shared infrastructure (internet connectivity and servers) with the same accessibility policies as a private WAN (wide area network).<BR>      
                Extranet VPN: Extranet VPN uses shared infrastructure over an intranet, suppliers, customers, partners, and other entities and connects them using dedicated connections<BR>



    </fieldset>
    
        
       

</div>
  
         
       
<div class="container"  id="div2">
    
  
     
       <fieldset  >
           <legend>Nodes And Links</legend>
         Nodes:Any communicating device in a network is called a Node. Node is the point of intersection in a network.<br>
         Link:A link or edge refers to the connectivity between two nodes in the network.
       
                 </fieldset>
       <fieldset>
           <legend> Network Topology</legend>
           
           Network topology is a physical layout of the network, connecting the different nodes using the links. It depicts the connectivity between the computers, devices, cables, etc.
           
            </fieldset>
       <fieldset>
           <legend>Types Of Network Topology</legend>
                <ul>
                    <li> Bus Topology</li>
                    <li> Star Topology</li>
                    <li> Ring Topology</li>
                    <li> Tree Topology</li>
                    <li> Hybrid</li>
                </ul>
</fieldset>
   
       
   <fieldset  >
       <legend>IPv4 Address</legend>
     An IP address is a 32-bit dynamic address of a node in the network. An IPv4 address has 4 octets of 8-bit each with each number with a value up to 255.</fieldset>
   
         <fieldset>
       <legend>Private and Special IP Addresses</legend>
       Private Address: For each class, there are specific IPs that are reserved specifically for private use only.<br>
       Special Address:IP Range from 127.0.0.1 to 127.255.255.255 are network testing addresses also known as loopback addresses are the special IP address.




   </fieldset>
   <fieldset>
       <legend>OSI Reference Model</legend>
      
      Open System Interconnections (OSI) is a network architecture model based on the ISO standards. It is called the OSI model as it deals with connecting the systems that are open for communication with other systems.


</fieldset>

   
  

</div>

<img src="../images/photo7.png"> 
<div class="container"  id="div3">


    
<fieldset>
    <legend> 7  Layers Of the OSI</legend>


    <UL>
        <LI> Physical</LI>
        <li> Data Link </li>
        <li>Network </li>
        <li>Transport</li>
        <li>Session</li>
        <li>Presentation</li>
        <li>Application</li>
        
    </UL>  
    </fieldset>  
<fieldset>
 <legend>TCP/IP Reference Model</legend>

 It is a compressed version of the OSI model with only 4 layers. It was developed by the US Department of Defence (DoD) in the 1980s. The name of this model is based on 2 standard protocols used i.e. TCP (Transmission Control Protocol) and IP (Internet Protocol)
</fieldset>

<fieldset>
    <legend> 4  Layers Of the TCP/IP </legend>
    <UL>
        <LI> Data Link</LI>
        <li> Internet </li>
        <li>Transport </li>
        <li>Application</li>
    </UL>

</fieldset>
        <fieldset>
    <legend> HTTP and the HTTPS Protocol</legend>
   <B>HTTP</B>-  HTTPis the HyperText Transfer Protocol which defines the set of rules and standards on how the information can be transmitted on the World Wide Web (WWW).  It helps the web browsers and web servers for communication. <BR>
    <B>HTTPS</B>-HTTPS is the HyperText Transfer Protocol Secure or Secure HTTP. It is an advanced and secured version of HTTP. On top of HTTP, SSL/TLS protocol is used to provide security.
    
    
</fieldset>
       <fieldset>
            <legend> SMTP Protocol</legend>
            SMTP is  the Simple Mail Transfer Protocol. SMTP sets the rule for communication between servers. This set of rules helps the software to transmit emails over the internet

</fieldset>
 <fieldset>
 <legend> DNS</legend>
 DNS is the Domain Name System. It is considered as the devices/services directory of the Internet. It is a decentralized and hierarchical naming system for devices/services connected to the Internet.
 </fieldset>
 <fieldset>


 <legend> UDP Protocol</legend>
 UDP is the User Datagram Protocol and is based on Datagrams. Mainly, it is used for multicasting and broadcasting. Its functionality is almost the same as TCP/IP Protocol except for the three ways of handshaking and error checking</fieldset>
</div>
  


<div class="container"  id="div4">



    <fieldset>
        <legend> ICMP Protocol</legend>
    
    
      ICMP   is the Internet Control Message Protocol. It is a network layer protocol used for error handling.
        </fieldset>  
    <fieldset>
     <legend>DHCP Protocol</legend>
    
     DHCP s the Dynamic Host Configuration Protocol.<br>
     It is an application layer protocol used to auto-configure devices on IP networks enabling them to use the TCP and UDP-based protocols.
    </fieldset>
    <fieldset>
        <legend> ARP Protocol</legend>
       ARP  is  Address Resolution Protocol. It is a network-level protocol used to convert the logical address i.e. IP address to the device's physical address i.e. MAC address.
    </fieldset>
            <fieldset>
        <legend> FTP Protoco</legend>
       FTP is  a File Transfer Protocol. It is an application layer protocol used to transfer files and data reliably and efficiently between hosts. It can also be used to download files from remote servers to your computer.
        
    </fieldset>
           <fieldset>
                <legend> MAC address</legend>
               MAC address is the Media Access Control address. It is a 48-bit or 64-bit unique identifier of devices in the network. It is also called the physical address.
    </fieldset>
     <fieldset>
     <legend> Subnet</legend>
     Subnet is a network inside a network achieved by the process called subnetting which helps divide a network into subnets. It is used for getting a higher routing efficiency and enhances the security of the network. 
    </fieldset>
    <fieldset>
     <legend> Firewall</legend>
    
      The firewall is a network security system that is used to monitor the incoming and outgoing traffic and blocks the same based on the firewall security policies. It acts as a wall between the internet (public network) and the networking devices (a private network).    
</fieldset>
</div>
<img src="../images/photo4.png"> 

<div class="container"  id="div5">



    <fieldset>
        <legend> Unicasting, Anycasting, Multicasting and Broadcasting</legend>
    
    
      
Unicasting: If the message is sent to a single node from the source then it is known as unicasting. This is commonly used in networks to establish a new connection.<br>
Anycasting: If the message is sent to any of the nodes from the source then it is known as anycasting. It is mainly used to get the content from any of the servers in the Content Delivery System.<br>
Multicasting: If the message is sent to a subset of nodes from the source then it is known as multicasting. Used to send the same data to multiple receivers. <br>
Broadcasting: If the message is sent to all the nodes in a network from a source then it is known as broadcasting. DHCP and ARP in the local network use broadcasting<br>

</fieldset>  
    <fieldset>
     <legend>Routers</legend>
    
     
A router is some device that transfers the data packets within a network. It basically performs the traffic directing functions within a network. A data packet can be anything such as an email, a web page, etc. </fieldset>
    <fieldset>
        <legend> Point-to-Point Network</legend>
       
A Point-to-Point network refers to a physical connection between two nodes. It can be between any device of a network such as a computer, printer, etc.   </fieldset>
            <fieldset>
        <legend> IEEE</legend>
       
IEEE stands for Institute of Electrical and Electronics Engineer. It is the world’s largest technical professional society and is devoted to advancing innovation and technological excellence. 
    </fieldset>
           <fieldset>
                <legend>  Piggybacking</legend>
              
During transmission of data packets in two-way communication, the receiver sends an acknowledgment (control frame or ACK) to the receiver after receiving the data packets.    </fieldset>
     <fieldset>
     <legend> Round Trip Time</legend>
    
Round Trip Time or Round Trip Delay Time refers to the time taken for a signal to be sent and the ACK of that signal to be received.  </fieldset>
    <fieldset>
     <legend> Ping</legend>
    
      
A ping is a computer program that is used to test the reachability of a host and check if can accept requests on an IP network.</fieldset>
</div>

<div class="container"  id="div6">



    <fieldset>
        <legend> APIPA</legend>
    
    
      
        APIPA is an acronym stands for Automatic Private IP Addressing. This feature is generally found in Microsoft operating system.</fieldset>  
    <fieldset>
     <legend>POP3</legend>
    
     
     
POP3 stands for Post Office Protocol version3. POP is responsible for accessing the mail service on a client machine.    
        </fieldset>
        <fieldset>
        <legend> 10Base-T</legend>
   
        It is used to specify data transfer rate. In 10Base-T, 10 specify the data transfer rate, i.e., 10Mbps.  </fieldset>
        <fieldset>
       
            <legend> NIC</legend>
       
            NIC stands for Network Interface Card. It is a peripheral card attached to the PC to connect to a network. Every NIC has its own MAC address that identifies the PC on the network.

    </fieldset>
           <fieldset>
                <legend>  DNS Forwarder</legend>
              
                
A forwarder is used with DNS server when it receives DNS queries that cannot be resolved quickly. So it forwards those requests to external DNS servers for resolution.    </fieldset>
          <fieldset>     
<legend> Bandwidth</legend>
    

                The range of limit of network between its upper and lower frequency is called bandwidth.   </fieldset>
     <fieldset>
     <legend> Types Of Internet Connections</legend>
    
     There are three types of Internet connections.
    <UL>
        <LI> <B>Broadband Connection:</B> This type of connection gives continuous high-speed Internet. In this type, if we log off from the Internet for any reason then there is no need to log in again.</LI>
        <LI><B> Wi-Fi:</B> It is a wireless Internet connection between the devices. It uses radio waves to connect to the devices or gadgets.</LI>
        <LI> <B>WiMAX:</B> It is the most advanced type of Internet connection which is more featured than Wi-Fi.  </LI>
    </UL>
    
    </fieldset>
<fieldset>
    <legend> Ipconfig and Ifconfig</legend>
   
    <B> Ipconfig</B> stands for Internet Protocol Configuration and this command is used on Microsoft Windows to view and configure the network interface.<BR>
<B>Ifconfig </B>(Interface Configuration) is a command that is used on Linux, Mac, and UNIX operating systems. It is used to configure, control the TCP/IP network interface parameters from CLI i.e. Command Line Interface.<BR>



</fieldset>
        <fieldset>
       
            <legend> 127.0.0.1 </legend>
       
           <B> IP address 127.0.0.1,</B> is reserved for loopback or localhost connections. These networks are usually reserved for the biggest customers or some of the original members of the Internet.
  
  
  
        </fieldset>
           <fieldset>
                <legend> Hub, Switch, And Router</legend>
              
                <B> Hub</B>Hub is least expensive, least intelligent and least complicated of the three.It broadcast all data to every port which may cause serious security and reliability concern.<BR>
                <B> Switch</B>Switches work similarly like Hubs but in a more efficient manner.It creates connections dynamically and provides information only to the requesting port.<BR>
                <B> Router</B>The router is smartest and most complicated out of these three. It comes in all shapes and sizes. Routers are similar like little computers dedicated for routing network traffic.<BR>

            
            
            
            
            
            
            </fieldset>
    
    </div>


 
</body>
</html>

