<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core subject resource page</title>
    <link rel="stylesheet" href="/css/coreRes.css">
</head>
<body>
<div class="container">
    <div class="heading">
        <a class="btn btn_success" href="/coreRes">back</a>
    </div>
    <div class="form">
      <h1>Add more CoreResources</h1>
       <div class="form_container">
         <form action="/coreRes" method="post">
            <input type="text" name="restype" placeholder="restype.....">
            <input type="text" name="resowner" placeholder="resowner....">
            <input type="text" name="subject" placeholder="subject....">
            <textarea name="info" id="" cols="30" rows="10" placeholder="Description..."></textarea>
            <button class="btn btn-info" type="submit">Submit</button>
         </form>
       </div>
    </div>
  </div>
</body>
</html>