<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>experience page</title>
    <link rel="stylesheet" href="/css/experience.css">
</head>
<body>
<div class="container">
    <div class="heading">
        <a class="btn btn_success" href="/experience">back</a>
    </div>
    <div class="form">
       <div class="form_container">
        <h1>Share your Experience</h1>
        <form action="/experience" method="post">
            <input type="text" name="copname" placeholder="Company name.....">
            <input type="text" name="emailid" placeholder="EmailId....">
            <input type="text" name="pos" placeholder="Position....">
            <input type="text" name="sdname" placeholder="Student name....">
            <!-- <textarea name="des" id="" cols="30" rows="10" placeholder="EmailId..."></textarea> -->
            <textarea name="info" id="" cols="30" rows="10" placeholder="Description..."></textarea>
            <button class="btn btn-info" type="submit">Submit</button>
        </form>
       </div>
        
    </div>
</div>
</body>
</html>