<!DOCTYPE html>
<html>
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
                @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Merriweather:ital,wght@1,300&display=swap');
              </style>
           <title>BVPLacementKit</title>
           <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
           <link href="../css/topdsa.css" rel="stylesheet" >
            <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
   </head>
     
   <body>
        
        <h1 align=center> TOP DSA QUESTIONS <h1>
               
                <button type="button" class="collapsible">Array </button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_1"></td>
                                <td>Set Matrix Zero</td>
                                <td><a href="https://leetcode.com/problems/set-matrix-zeroes/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_2"></td>
                                <td>Pascals Triangle</td>
                                <td><a href="https://leetcode.com/problems/pascals-triangle/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_3"></td>
                                <td>Next Permutation</td>
                                <td><a href="https://leetcode.com/problems/next-permutation/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_4"></td>
                                <td>Khadane's Algorithm</td>
                                <td><a href="https://leetcode.com/problems/maximum-subarray/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_5"></td>
                                <td>Sort an array of 0's 1's 2's</td>
                                <td><a href="https://leetcode.com/problems/sort-colors/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_6"></td>
                                <td>Stock buy and sell</td>
                                <td><a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Array Parts-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_7"></td>
                                <td>Rotate Matrix</td>
                                <td><a href="https://leetcode.com/problems/rotate-image/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_8"></td>
                                <td>Merge Overlapping Subintervals</td>
                                <td><a href="https://leetcode.com/problems/merge-intervals/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_9"></td>
                                <td>Merge two sorted Array without extra space</td>
                                <td><a href="https://leetcode.com/problems/merge-sorted-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_10"></td>
                                <td>Find the duplicate in N+1 integers</td>
                                <td><a href="https://leetcode.com/problems/find-the-duplicate-number/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_11"></td>
                                <td>Repeat an missing number</td>
                                <td><a href="https://www.interviewbit.com/problems/repeat-and-missing-number-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_12"></td>
                                <td>Inversion of Array(Pre-req:Merge sort)</td>
                                <td><a href="https://www.codingninjas.com/codestudio/problems/count-inversions_615" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Array Parts-III</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_13"></td>
                                <td>Search in a 2d Matrix</td>
                                <td><a href="https://leetcode.com/problems/search-a-2d-matrix/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_14"></td>
                                <td>Pow(X,n)</td>
                                <td><a href="https://leetcode.com/problems/powx-n/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_15"></td>
                                <td>Majority Element(>N/2 times)</td>
                                <td><a href="https://leetcode.com/problems/majority-element/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_16"></td>
                                <td>Majority Element(>N/3 times)</td>
                                <td><a href="https://leetcode.com/problems/majority-element-ii/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_17"></td>
                                <td>Grid Unique Paths</td>
                                <td><a href="https://leetcode.com/problems/unique-paths/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_17"></td>
                                <td>Reverse Pairs(Leetcode)</td>
                                <td><a href="https://leetcode.com/problems/reverse-pairs/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Array Parts-IV</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_18"></td>
                                <td>2-sum-Problem</td>
                                <td><a href="https://leetcode.com/problems/two-sum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_19"></td>
                                <td>4-sum-Problem</td>
                                <td><a href="https://leetcode.com/problems/4sum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_20"></td>
                                <td>Longest consecutive Sequence</td>
                                <td><a href="https://leetcode.com/problems/longest-consecutive-sequence/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_21"></td>
                                <td>Longest Subarray with 0 sum</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/largest-subarray-with-0-sum/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_22"></td>
                                <td>Count number of subarrays with given Xor k</td>
                                <td><a href="https://www.interviewbit.com/problems/subarray-with-given-xor/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_23"></td>
                                <td>Longest Substring without repeat</td>
                                <td><a href="https://leetcode.com/problems/longest-substring-without-repeating-characters/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Linked List</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_24"></td>
                                <td>Reverse a Linked List</td>
                                <td><a href="https://leetcode.com/problems/reverse-linked-list/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_25"></td>
                                <td>Find the middle of LinkedList</td>
                                <td><a href="https://leetcode.com/problems/middle-of-the-linked-list/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_26"></td>
                                <td>Merge two sorted Linked (use method used in mergeSort)</td>
                                <td><a href="https://leetcode.com/problems/merge-two-sorted-lists/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_27"></td>
                                <td>Remove N-th node from back of LinkedList</td>
                                <td><a href="https://leetcode.com/problems/remove-nth-node-from-end-of-list/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_28"></td>
                                <td>Add two numbers as linkedList</td>
                                <td><a href="https://leetcode.com/problems/add-two-numbers/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_29"></td>
                                <td>Delete a given Node when a node is given(o(1solution)</td>
                                <td><a href="https://leetcode.com/problems/delete-node-in-a-linked-list/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">LinkedList-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_30"></td>
                                <td>Find intersection of Y LinkedList</td>
                                <td><a href="https://leetcode.com/problems/intersection-of-two-linked-lists/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_31"></td>
                                <td>Detect a cycle in LinkedList</td>
                                <td><a href="https://leetcode.com/problems/linked-list-cycle/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_32"></td>
                                <td>Reverse a LinkedList in group of size k</td>
                                <td><a href="https://leetcode.com/problems/reverse-nodes-in-k-group/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_33"></td>
                                <td>Check if a LinkedList is palindrome or not</td>
                                <td><a href="https://leetcode.com/problems/palindrome-linked-list/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_34"></td>
                                <td>Find the starting point of the loop of LinkedList</td>
                                <td><a href="https://leetcode.com/problems/linked-list-cycle-ii/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_35"></td>
                                <td>Flattening of a LinkedList</td>
                                <td><a href="https://takeuforward.org/data-structure/flattening-a-linked-list/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>

                <button type="button" class="collapsible">LinkedList and Arrays</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_36"></td>
                                <td>Rotate LinkedList</td>
                                <td><a href="https://leetcode.com/problems/rotate-list/description/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_37"></td>
                                <td>Clone a Linked List with random next pointer</td>
                                <td><a href="https://leetcode.com/problems/copy-list-with-random-pointer/ "target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_38"></td>
                                <td>3 sum</td>
                                <td><a href="https://leetcode.com/problems/3sum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_39"></td>
                                <td>Trapping rainwater</td>
                                <td><a href="https://leetcode.com/problems/trapping-rain-water/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_40"></td>
                                <td>Remove Duplicate from Sorted array</td>
                                <td><a href="https://leetcode.com/problems/remove-duplicates-from-sorted-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_42"></td>
                                <td>Max consecutive ones</td>
                                <td><a href="https://leetcode.com/problems/max-consecutive-ones/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Greey Algorithm</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_43"></td>
                                <td>N meetings in one room</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/n-meetings-in-one-room-1587115620/1/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_44"></td>
                                <td>Minimum number of platforms required for a railway</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/minimum-platforms-1587115620/1#" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_45"></td>
                                <td>Job sequencing Problem</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/job-sequencing-problem-1587115620/1#" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_46"></td>
                                <td>Fractional Knapsack Problem</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/fractional-knapsack-1587115620/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_47"></td>
                                <td>Greedy algorithm to find mnimum number of coins</td>
                                <td><a href="https://www.geeksforgeeks.org/find-minimum-number-of-coins-that-make-a-change/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_48"></td>
                                <td>Activity Selection(it is the same as n meeting in one room)</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/n-meetings-in-one-room-1587115620/1" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Recursion</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_49"></td>
                                <td>Subset Sums</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/subset-sums2234/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_50"></td>
                                <td>Subset-II</td>
                                <td><a href="https://leetcode.com/problems/subsets-ii/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_51"></td>
                                <td>Combination sum-1</td>
                                <td><a href="https://leetcode.com/problems/combination-sum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_52"></td>
                                <td>Combination sum-2</td>
                                <td><a href="https://leetcode.com/problems/combination-sum-ii/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_53"></td>
                                <td>Palindrome Partitioning</td>
                                <td><a href="https://leetcode.com/problems/palindrome-partitioning/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_54"></td>
                                <td>K-th permutation Sequence</td>
                                <td><a href="https://leetcode.com/problems/permutation-sequence/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Recursion and Backtracking</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_55"></td>
                                <td>Print all permutattions of a string/array</td>
                                <td><a href="https://leetcode.com/problems/permutations/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_56"></td>
                                <td>N queens Problem</td>
                                <td><a href="https://leetcode.com/problems/n-queens/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_57"></td>
                                <td>Sudoku Solver</td>
                                <td><a href="https://leetcode.com/problems/combination-sumhttps://leetcode.com/problems/sudoku-solver/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_58"></td>
                                <td>M coloring Problem</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/m-coloring-problem-1587115620/1#" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_59"></td>
                                <td>Rate in a Maze</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/rat-in-a-maze-problem/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_60"></td>
                                <td>Word Break(print all ways)</td>
                                <td><a href="https://bit.ly/3FxgW92" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Binary Search</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_61"></td>
                                <td>The N-th root of an integer</td>
                                <td><a href="https://leetcode.com/problems/permutations/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_62"></td>
                                <td>Matrix Median</td>
                                <td><a href="https://www.interviewbit.com/problems/matrix-median/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_63"></td>
                                <td>Find the element that appears once in a sorted array,and the rest element appears twice(Binary </td>
                                <td><a href="https://leetcode.com/problems/single-element-in-a-sorted-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_64"></td>
                                <td>Search element in a sorted and rotated array/find pivot where it is rotated</td>
                                <td><a href="https://leetcode.com/problems/search-in-rotated-sorted-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_65"></td>
                                <td>Median of 2 sorted arrays</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/m-coloring-problem-1587115620/1#" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_66"></td>
                                <td>K-th element of two sorted arrays</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/k-th-element-of-two-sorted-array1317/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_67"></td>
                                <td>Allocate Minimum Number of Pages</td>
                                <td><a href="https://www.interviewbit.com/problems/allocate-books/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_68"></td>
                                <td>Aggressive Cows</td>
                                <td><a href="https://www.spoj.com/problems/AGGRCOW/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Heaps</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_69"></td>
                                <td>Max heap,Min Heap Implementation(Only for interviews)</td>
                                <td><a href="https://www.codingninjas.com/codestudio/problems/min-heap_4691801?topList=striver-sde-sheet-problems&utm_source=striver&utm_medium=website" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_70"></td>
                                <td>Kth Largest Element</td>
                                <td><a href="https://leetcode.com/problems/kth-largest-element-in-an-array/"  target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_71"></td>
                                <td>Maximum Sum Combination</td>
                                <td><a href="https://www.interviewbit.com/problems/maximum-sum-combinations/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_72"></td>
                                <td>Find Median from Data Stream</td>
                                <td><a href="https://leetcode.com/problems/find-median-from-data-stream/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_73"></td>
                                <td>Merge k sorted arrays</td>
                                <td><a href="https://www.codingninjas.com/codestudio/problems/merge-k-sorted-arrays_975379" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_74"></td>
                                <td>K most frequent elements</td>
                                <td><a href="https://leetcode.com/problems/top-k-frequent-elements/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Stack and Queue</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_75"></td>
                                <td>Implementation Stack Using Arrays</td>
                                <td><a href="https://www.codingninjas.com/codestudio/problems/stack-implementation-using-array_3210209" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_76"></td>
                                <td>Implement Queue Using Arrays</td>
                                <td><a href="https://leetcode.com/problems/kth-largest-element-in-an-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_77"></td>
                                <td>Implement Stack using Queue(using single queue</td>
                                <td><a href="https://leetcode.com/problems/implement-stack-using-queues/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_78"></td>
                                <td>Implement Queue using Stack(O(1)amortized method)</td>
                                <td><a href="https://leetcode.com/problems/implement-queue-using-stacks/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_79"></td>
                                <td>Check for balanced parentheses</td>
                                <td><a href="https://leetcode.com/problems/valid-parentheses/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_80"></td>
                                <td>Next Greater Element</td>
                                <td><a href="https://leetcode.com/problems/next-greater-element-ii/description/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_81"></td>
                                <td>Sort A Stack</td>
                                <td><a href="https://bit.ly/3nptF7k" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Stack and Queue Part-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_82"></td>
                                <td>Next Smaller Element</td>
                                <td><a href="https://www.interviewbit.com/problems/nearest-smaller-element/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_83"></td>
                                <td>LFU Cache(IMPORTANT)</td>
                                <td><a href="https://leetcode.com/problems/lru-cache/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_84"></td>
                                <td>Largest rectangle in a histogram</td>
                                <td><a href="https://leetcode.com/problems/largest-rectangle-in-histogram/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_85"></td>
                                <td>Sliding Window maximum</td>
                                <td><a href="https://leetcode.com/problems/sliding-window-maximum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_86"></td>
                                <td>Implement Min Stack</td>
                                <td><a href="https://leetcode.com/problems/min-stack/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_87"></td>
                                <td>Rotten Orange(using BFS)</td>
                                <td><a href="https://leetcode.com/problems/rotting-oranges/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_88"></td>
                                <td>Stock Span Problem</td>
                                <td><a href="https://leetcode.com/problems/online-stock-span/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_89"></td>
                                <td>Find the maximum of minimums of every window size</td>
                                <td><a href="https://bit.ly/3zUYLZz" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_90"></td>
                                <td>The Celebrity Problem</td>
                                <td><a href="https://leetcode.com/accounts/login/?next=/problems/find-the-celebrity/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">String</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_91"></td>
                                <td>Reverse Words in a String</td>
                                <td><a href="https://leetcode.com/problems/reverse-words-in-a-string/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_92"></td>
                                <td>Longest Palindrome in a String</td>
                                <td><a href="https://leetcode.com/problems/longest-palindromic-substring/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_93"></td>
                                <td>Roman number to integer and vice versa</td>
                                <td><a href="https://leetcode.com/problems/roman-to-integer/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_94"></td>
                                <td>Implement ATOI/STRSTR</td>
                                <td><a href="https://leetcode.com/problems/string-to-integer-atoi/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_95"></td>
                                <td>Longest Common Prefix</td>
                                <td><a href="https://leetcode.com/problems/longest-common-prefix/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_96"></td>
                                <td>Rabin Karp</td>
                                <td><a href="https://leetcode.com/problems/repeated-string-match/discuss/416144/Rabin-Karp-algorithm-C%2B%2B-implementation" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">String Part-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_97"></td>
                                <td>    Z-Function</td>
                                <td><a href="https://leetcode.com/problems/implement-strstr/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_98"></td>
                                <td>KMP algo/LPS(pi)array</td>
                                <td><a href="https://leetcode.com/problems/implement-strstr/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_99"></td>
                                <td>Minimum characters needed to be inserted in the beginning to make it palindromic</td>
                                <td><a href="https://www.interviewbit.com/problems/minimum-characters-required-to-make-a-string-palindromic/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_100"></td>
                                <td>Check for Anagrams</td>
                                <td><a href="https://leetcode.com/problems/valid-anagram/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_101"></td>
                                <td>Couny and Say</td>
                                <td><a href="https://leetcode.com/problems/count-and-say/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_102"></td>
                                <td>Comapre version numbers</td>
                                <td><a href="https://leetcode.com/problems/compare-version-numbers/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Binary Tree</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_103"></td>
                                <td>Inorder Traversal</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-inorder-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_104"></td>
                                <td>Preorder Traversal</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-preorder-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_105"></td>
                                <td>Postorder Traversal</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-postorder-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_106"></td>
                                <td>Morris Inorder Traversal</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-inorder-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_107"></td>
                                <td>Morris Preorder Traversal</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-preorder-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_108"></td>
                                <td>LeftView Of Binary Tree</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/left-view-of-binary-tree/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_103"></td>
                                <td>Botttom View of Binary Tree</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/bottom-view-of-binary-tree/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_104"></td>
                                <td>Top View of Binary Tree</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/top-view-of-binary-tree/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_105"></td>
                                <td>Preorder inorder postorder in a single traversal</td>
                                <td><a href="https://bit.ly/3rlXpTX" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_106"></td>
                                <td>Vertical order traversal</td>
                                <td><a href="https://leetcode.com/problems/vertical-order-traversal-of-a-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_107"></td>
                                <td>Root to node path in a Binary Tree</td>
                                <td><a href="https://www.interviewbit.com/problems/path-to-given-node/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_108"></td>
                                <td>Max width of a Binary Tree</td>
                                <td><a href="https://leetcode.com/problems/maximum-width-of-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Bianry tree part-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_109"></td>
                                <td>Level order traversal/Level order traversal in spiral form</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-level-order-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_110"></td>
                                <td>Height of a Binary Tree</td>
                                <td><a href="https://leetcode.com/problems/maximum-depth-of-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_111"></td>
                                <td>Diameter of Binary Tree</td>
                                <td><a href="https://leetcode.com/problems/diameter-of-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_112"></td>
                                <td>Check if the Binary tree is height-balance or not</td>
                                <td><a href="https://leetcode.com/problems/balanced-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_113"></td>
                                <td>LCA in Binary Tree</td>
                                <td><a href="https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_114"></td>
                                <td>Check if two trees are identical or not</td>
                                <td><a href="https://leetcode.com/problems/same-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_115"></td>
                                <td>Zig Zag Traversal of Binary tree</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-zigzag-level-order-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_116"></td>
                                <td>Boundary traversL OF BINARY TREE</td>
                                <td><a href="https://leetcode.com/problems/boundary-of-binary-tree/#" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Binary Tree part-III</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_117"></td>
                                <td>Maximum path sum</td>
                                <td><a href="https://leetcode.com/problems/binary-tree-maximum-path-sum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_118"></td>
                                <td>Construction Binary Tree from inorder and preorder</td>
                                <td><a href="https://leetcode.com/problems/construct-binary-tree-from-preorder-and-inorder-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_119"></td>
                                <td>Construction Binary Tree from inorder and postrder</td>
                                <td><a href="https://leetcode.com/problems/construct-binary-tree-from-inorder-and-postorder-traversal/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_120"></td>
                                <td>Symmetric Binary Tree</td>
                                <td><a href="https://leetcode.com/problems/symmetric-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_121"></td>
                                <td>Flatten Binary Tree to linked List</td>
                                <td><a href="https://leetcode.com/problems/flatten-binary-tree-to-linked-list/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_122"></td>
                                <td>Check if Binary Tree is the mirror of itself or not</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/mirror-tree/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_123"></td>
                                <td> Check for Children Sum property</td>
                                <td><a href="https://bit.ly/33yExIQ" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Binary Search Tree</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_124"></td>
                                <td>Popular Next Right pointers Tree</td>
                                <td><a href="https://leetcode.com/problems/reverse-words-in-a-string/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_125"></td>
                                <td>Search given key in BST</td>
                                <td><a href="https://leetcode.com/problems/search-in-a-binary-search-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_126"></td>
                                <td>Construct BST from given keys</td>
                                <td><a href="https://leetcode.com/problems/convert-sorted-array-to-binary-search-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_127"></td>
                                <td>Construct BST from preorder Traversal</td>
                                <td><a href="https://leetcode.com/problems/construct-binary-search-tree-from-preorder-traversal//" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_128"></td>
                                <td>Check is a BT is BST or not </td>
                                <td><a href="https://leetcode.com/problems/validate-binary-search-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_129"></td>
                                <td>Find lCA of two nodes in BST</td>
                                <td><a href="https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-search-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_130"></td>
                                <td>Find the inorder predecessor/successor of a given Key in BST</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/predecessor-and-successor/1" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Binary Search Tree Part-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_131"></td>
                                <td>Floor in a BST</td>
                                <td><a href="https://www.codingninjas.com/codestudio/problems/floor-from-bst_920457?source=youtube&campaign=Striver_Tree_Videos&utm_source=youtube&utm_medium=affiliate&utm_campaign=Striver_Tree_Videos" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_132"></td>
                                <td>Ceil in a BST</td>
                                <td><a href="https://www.codingninjas.com/codestudio/problems/ceil-from-bst_920464?source=youtube&campaign=Striver_Tree_Videos&utm_source=youtube&utm_medium=affiliate&utm_campaign=Striver_Tree_Videos" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_133"></td>
                                <td>Find k-th smallest element in BST</td>
                                <td><a href="https://leetcode.com/problems/kth-smallest-element-in-a-bst/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_134"></td>
                                <td>Find K-th largest elemeny in BST</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/kth-largest-element-in-bst/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_135"></td>
                                <td>Find a pair with a given sum in BST</td>
                                <td><a href="https://leetcode.com/problems/two-sum-iv-input-is-a-bst/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_136"></td>
                                <td>BST iterator</td>
                                <td><a href="https://leetcode.com/problems/two-sum-iv-input-is-a-bst/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_137"></td>
                                <td>Size of the largest BST in a Binary Tree</td>
                                <td><a href="https://leetcode.com/problems/maximum-sum-bst-in-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_138"></td>
                                <td>Serialize and deserialize Binary Tree</td>
                                <td><a href="https://leetcode.com/problems/serialize-and-deserialize-binary-tree/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Binary Trees[Miscellaneous]</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_139"></td>
                                <td>Binary Tree to Double Linked List</td>
                                <td><a href="https://leetcode.com/problems/flatten-binary-tree-to-linked-list/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_140"></td>
                                <td>Find median in a stream of running integers</td>
                                <td><a href="https://leetcode.com/problems/find-median-from-data-stream/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_141"></td>
                                <td>K-th largest element in a stream</td>
                                <td><a href="https://leetcode.com/problems/kth-smallest-element-in-a-bst/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_142"></td>
                                <td>Distinct numbers in Window</td>
                                <td><a href="https://www.interviewbit.com/problems/distinct-numbers-in-window/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_143"></td>
                                <td>K-th largest element in a stream</td>
                                <td><a href="https://leetcode.com/problems/kth-largest-element-in-an-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_144"></td>
                                <td>Flood-fill Algorithm</td>
                                <td><a href="https://leetcode.com/problems/flood-fill/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Graph</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_145"></td>
                                <td>Clone a graph</td>
                                <td><a href="https://leetcode.com/problems/clone-graph/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_146"></td>
                                <td>DfS</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/depth-first-traversal-for-a-graph/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_147"></td>
                                <td>BFS</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/bfs-traversal-of-graph/1/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_148"></td>
                                <td>Detect A cycle in Unidirected Graph using Bfs</td>
                                <td><a href="https://leetcode.com/problems/course-schedule/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_149"></td>
                                <td>Detect A cycle in Unidirected Graph using Dfs</td>
                                <td><a href="https://leetcode.com/problems/course-schedule/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_150"></td>
                                <td>Detect A cycle in Directed Graph using Dfs</td>
                                <td><a href="https://leetcode.com/problems/course-schedule/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_151"></td>
                                <td>Detect A cycle in Directed Graph using Bfs</td>
                                <td><a href="https://leetcode.com/problems/course-schedule/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_152"></td>
                                <td>Topological Sort BFS</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/topological-sort/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_153"></td>
                                <td>Topological Sort DFS</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/topological-sort/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_154"></td>
                                <td>Number of islands</td>
                                <td><a href="https://leetcode.com/problems/number-of-islands/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_155"></td>
                                <td>Bipartite Check using BFS</td>
                                <td><a href="https://leetcode.com/problems/is-graph-bipartite/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_156"></td>
                                <td>Bipartite check using Dfs</td>
                                <td><a href="https://leetcode.com/problems/is-graph-bipartite/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Graph Part-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_157"></td>
                                <td>Strongly Connected Component</td>
                                <td><a href="https://leetcode.com/problems/maximum-number-of-non-overlapping-substrings/discuss/766485/kosaraju-algorithm-on" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_158"></td>
                                <td>Dikstra's Algorithm</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/implementing-dijkstra-set-1-adjacency-matrix/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_159"></td>
                                <td>Bellman-Ford Algo</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/distance-from-the-source-bellman-ford-algorithm/0/?fbclid=IwAR2_lL0T84DnciLyzMTQuVTMBOi82nTWNLuXjUgahnrtBgkphKiYk6xcyJU" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_160"></td>
                                <td>Floyd Warshall Algorithm</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/implementing-floyd-warshall2042/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_161"></td>
                                <td>MST using Prime's Algo</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/minimum-spanning-tree/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_162"></td>
                                <td>MST using Kruskal's Algo</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/minimum-spanning-tree/1" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Dynamic Programming</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_163"></td>
                                <td>Max Product Subarray</td>
                                <td><a href="https://leetcode.com/problems/maximum-product-subarray/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_164"></td>
                                <td>Longest Increasing Subsequence</td>
                                <td><a href="https://leetcode.com/problems/longest-increasing-subsequence/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_165"></td>
                                <td>Longest Common Subsequence</td>
                                <td><a href="https://leetcode.com/problems/longest-common-subsequence/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_166"></td>
                                <td>0-1 Knapsack</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/0-1-knapsack-problem0945/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_167"></td>
                                <td>Edit Distance</td>
                                <td><a href="https://leetcode.com/problems/edit-distance/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_168"></td>
                                <td>Maximum sum increasing subsequence</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/maximum-sum-increasing-subsequence4749/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_169"></td>
                                <td>Matrix Chain Multiplication</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/matrix-chain-multiplication0303/1" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Dynamic Programming Part-II</button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_170"></td>
                                <td>Minimum sum path in the matrix,(count paths and similar type do,also backtract to find the Minimum path)</td>
                                <td><a href="https://leetcode.com/problems/minimum-path-sum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_171"></td>
                                <td>Coin change</td>
                                <td><a href="https://leetcode.com/problems/coin-change/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_172"></td>
                                <td>Subset Sum</td>
                                <td><a href="https://leetcode.com/problems/partition-equal-subset-sum/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_173"></td>
                                <td>Rod Cutting</td>
                                <td><a href="https://leetcode.com/problems/minimum-cost-to-cut-a-stick/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_174"></td>
                                <td>Egg Dropping</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/egg-dropping-puzzle-1587115620/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_175"></td>
                                <td>Word Break</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/word-break1352/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_176"></td>
                                <td>Palindrome Partitioning(MCM Variation)</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/palindromic-patitioning4845/1" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_177"></td>
                                <td>Maximum profit in job scheduling</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/job-sequencing-problem-1587115620/1" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>
                <button type="button" class="collapsible">Trie
                        <i class="fa fa-bolt"></i>
                </button>
                <div class="content">
                        <br>
                  <table border="1" class="table" height="50%" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="tr1">    <td></td>
                                <td><b>Problem</b></td>
                                <td><b>Practice Link</b></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_178"></td>
                                <td>Implementing Trie(Prefix Tree</td>
                                <td><a href="https://leetcode.com/problems/implement-trie-prefix-tree/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_179"></td>
                                <td>Implement Trie-2(Prefix Tree)</td>
                                <td><a href="https://bit.ly/3qwT4OL" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    <td><input type="checkbox" id="ques_180"></td>
                                <td>Longest String with All Prefixes</td>
                                <td><a href="https://bit.ly/3n3kedU" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_181"></td>
                                <td>Maximum XOR with an eleemnt from array</td>
                                <td><a href="https://leetcode.com/problems/maximum-xor-with-an-element-from-array/" target="_blank" >Link</a></td>
                        </tr>
                        <tr>    
                                <td><input type="checkbox" id="ques_182"></td>
                                <td>Number of Distinct Substrings in a String</td>
                                <td><a href="https://bit.ly/3ocRQW0" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_183"></td>
                                <td>Power Set</td>
                                <td><a href="https://practice.geeksforgeeks.org/problems/power-set4302/1#" target="_blank" >Link</a></td>
                        </tr>
                        <tr>
                                <td><input type="checkbox" id="ques_184"></td>
                                <td>Maximum XOR of two numbers in an array</td>
                                <td><a href="https://leetcode.com/problems/maximum-xor-of-two-numbers-in-an-array/" target="_blank" >Link</a></td>
                        </tr>
                  </table>
                </div><br>

                <script src="../../js/topdsa.js" ></script>
</script>
                   
   </body>
</html>